asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.1.1
djangorestframework==3.15.1
frozendict==2.4.4
gunicorn==22.0.0
idna==3.7
joblib==1.4.2
MarkupSafe==2.1.5
multitasking==0.0.11
numpy==1.26.4
oauthlib==3.2.2
packaging==24.1
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
threadpoolctl==3.5.0
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.7.0
yfinance==0.2.40
